<div id="navbar">
  @Html.ActionLink("Home", "Index", "Home")
  @Html.ActionLink("Factory Locations", "Index", "Locations")
  @Html.ActionLink("Engineers", "Index", "Engineers")
  @Html.ActionLink("Machines", "Index", "Machines")
</div>